[Unit]
Description=Spring Boot Application
After=syslog.target

[Service]
User=ec2-user
ExecStart=/usr/bin/java -jar {{ remote_app_dir }}/{{ remote_app_jar_name }}
SuccessExitStatus=143
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
